{% extends "partial/card_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Formulário - Link de Acesso{% endblock %}

{% block lead %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block card_content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">Cadastrar Link de Acesso</h4>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3">
                        {{form.name|as_crispy_field}}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}
