{% extends "partial/card_base.html" %}

{% block title %}Links de Acesso{% endblock %}

{% block lead %}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
    <li class="breadcrumb-item"><a href="javascript: void(0);">Link de Acessos</a></li>
    <li class="breadcrumb-item active">Listagem</li>
</ol>
{% endblock %}

{% block card_content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">Lista de Link de Acessos</h4>
        <a href="{% url 'document:access_link:create' document.id %}" class="btn btn-success waves-effect waves-light">
            Adicionar
        </a>
        <br />
        <br />
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0">
                <thead class="table-light">
                    <tr>
                        <th style="width: 20px;">
                            <div class="form-check font-size-16">
                                <input type="checkbox" class="form-check-input" id="customCheck1">
                                <label class="form-check-label" for="customCheck1">&nbsp;</label>
                            </div>
                        </th>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Token</th>
                        <th>Número de Acessos</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for access_link in access_links %}
                    <tr>
                        <td>
                            <div class="form-check font-size-16">
                                <input type="checkbox" class="form-check-input" id="customCheck2">
                                <label class="form-check-label" for="customCheck2">&nbsp;</label>
                            </div>
                        </td>
                        <td><a href="javascript: void(0);" class="text-body fw-bold">{{access_link.id}}</a> </td>
                        <td>{{access_link.name}}</td>
                        <td>
                            <a href="{% url 'document:external_access' access_link.token %}" target="_blank">
                                {{access_link.token}}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'document:access_link:accesses' document.id access_link.id %}">
                                {{access_link.accesses.count}}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'document:access_link:detail' document.id access_link.id %}" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                Ver Detalhes
                            </a>
                            {% if not access_link.visited_time %}
                            <a href="{% url 'document:access_link:edit' document.id access_link.id %}" class="btn btn-warning btn-sm btn-rounded waves-effect waves-light">
                                Editar
                            </a>
                            <a href="{% url 'document:access_link:remove' document.id access_link.id %}" class="btn btn-danger btn-sm btn-rounded waves-effect waves-light">
                                Remover
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- end table-responsive -->
    </div>
</div>
<!-- end card -->
{% endblock %}
