{% extends "partial/default_base.html" %}
{% load static %}


{% block title %}Suporte{% endblock %}

{% block main_content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Suporte</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Menu</a></li>
                            <li class="breadcrumb-item active">Suporte</li>
                        </ol>
                    </div>

                </div>
                {% include 'partial/messages.html' %}
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <!-- Seller Details -->
                            <h3>Contato</h3>
                            <section>
                                Entre em contato através do email <strong>suporte@construx.io</strong>
                                <p>
                                Ou pelo <a href="{{ whatsapp_support_url }}" target="_blank">WhatsApp</a>
                                </p>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->


    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock %}
