<div class="table-responsive">
    <table class="table table-centered table-nowrap mb-0">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Usuário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td><a href="javascript: void(0);" class="text-body fw-bold">{{file.id}}</a> </td>
                <td>{{file.name}}</td>
                <td>{{file.mimetype}}</td>
                <td>{{file.user.first_name}}</td>
                <td>
                    <a href="{% url 'document:files:detail' document.id file.id %}" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                        Ver Detalhes
                    </a>
                    <a href="{{ file.file.url }}" class="btn btn-info btn-sm btn-rounded" target="_blank">Baixar</a>
                    {% if file.user_id and False %}
                    <a href="{% url 'document:files:edit' document.id file.id %}" class="btn btn-warning btn-sm btn-rounded waves-effect waves-light">
                        Editar
                    </a>
                    <a href="{% url 'document:files:remove' document.id file.id %}" class="btn btn-danger btn-sm btn-rounded waves-effect waves-light">
                        Remover
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
