{% extends "partial/card_base.html" %}

{% block title %}Obras{% endblock %}

{% block lead %}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
    <li class="breadcrumb-item"><a href="{% url 'works:list' %}">Obras</a></li>
    <li class="breadcrumb-item active">Listagem</li>
</ol>
{% endblock %}

{% block card_content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista de Obras</h3>
        <div class="card-header-actions ms-auto">
            {% if perms.works.add_work %}
            <a href="{% url 'works:create' %}" class="btn btn-sm btn-success">
                Adicionar
            </a>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-nowrap border-bottom responsive-datatable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th style="width: 1%;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for work in works %}
                    <tr>
                        <td>
                            <a href="{% url 'works:detail' work.pk %}" class="text-body fw-bold">{{work.pk}}</a>
                        </td>
                        <td>{{work.name}}</td>
                        <td>{{work.description}}</td>
                        <td>
                            <div>

                            {% if perms.works.view_work %}
                            <a href="{% url 'works:detail' work.pk %}" class="btn btn-primary btn-sm">
                                Ver Detalhes
                            </a>
                            {% endif %}
                            {% if perms.works.change_work %}
                            <a href="{% url 'works:edit' work.pk %}" class="btn btn-warning btn-sm">
                                Editar
                            </a>
                            {% endif %}
                            {% if perms.works.delete_work %}
                            <a href="{% url 'works:remove' work.pk %}" class="btn btn-danger btn-sm">
                                Remover
                            </a>
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end card -->
{% endblock %}

